<app-toast></app-toast>

@if (authService.isAuthenticated()) {
  <nav class="top-nav">
    <div class="nav-brand">NexCash</div>
    <div class="nav-links">
      @if (authService.currentUserRole() === "USER") {
        <a routerLink="/user">User Portal</a>
      }

      @if (authService.currentUserRole() === "MANAGER") {
        <a routerLink="/manager">Manager Dashboard</a>
      }

      <a href="javascript:void(0)" (click)="logout()" class="logout-link"
        >Logout</a
      >
    </div>
  </nav>
}

<main>
  <router-outlet></router-outlet>
</main>
